<!DOCTYPE html>
<html lang="ja" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>新しい連絡先</h1>
    <form  action="contacts" method="post">
      <input type="text" name="name">
      <input type="submit">
    </form>

    <div class="">
      <a href="/">戻る</a>
    </div>
  </body>

</html>
