<!DOCTYPE html>
<html lang="ja" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>新しい連絡先</h1>

    <!--present?:nilのときにfalseを返す -->
    <% if @contact.errors.present? %>
      エラーがあります。
      <!--・リストを作成 -->
      <ul>
          <!-- エラーメッセージを表示 -->
          <% @contact.errors.full_messages.each do |message| %>
          <!-- li:リストアイテム -->
          <li><%= message %></li>
          <% end %>
      </ul>
    <% end %>

    <!-- フォームに名前を入れて/contactsに送信 -->
    <form  action="contacts" method="post">
      <div class="">
        <label for="contact_name">名前</label>
        <input type="text" name="input_name" id="contact_name" value = "<%= @contact.name%>" >
      </div>

      <div class="">
        <label for="contact_email">Email</label>
        <input type="text" name="input_email" id="contact_email"value = "<%= @contacts.name %>" >
      </div>

      <!-- テキストボックスを作成 -->


      <input type="submit">
    </form>

    <div class="">
      <a href="/">戻る</a>
    </div>
  </body>

</html>
