<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>連絡帳</title>
    <link rel="stylesheet" href="/style.css ">
  </head>
  <body>
    <h1>これはErbで書きました</h1>
    <a href="about.html">このサービスについて</a>
    <a href="/contact_new">連絡先の新規作成</a>

    <footer>
      <p>今の時刻は：<%= @now %> </p>
    </footer>
  </body>
</html>
